body {
	background-color:#ffffff;
	color:#000000;
	font-family:Arial; 
	font-size:9pt;
}
h1 {
	font-size:11pt; 
}
.essen {
	color:#008800;
	font-size:14pt;
	font-weight:bold;
	border:5px;
	border-color:#008800;
	border-style:solid;
	padding:5px;
}
.fasten {
	color:#FF0000;
	font-size:14pt;
	font-weight:bold;
	border:5px;
	border-color:#FF0000;
	border-style:solid;
	padding:5px;
}
.rot {
	color:#FF0000;
}
.gruen{
	color:#008800;
}